 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 
<!DOCTYPE html>
<html>
<head>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- CSSSS -->
<link href="Login.css" rel="stylesheet" id="bootstrap-css">
<!-- CSSSSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<title>Login</title>
   
<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
</head>
<body>
<div class="main">
    
    
<div class="container">
<center>
<div class="middle">
      <div id="login">

        <form action="javascript:void(0);" method="get">

          <fieldset class="clearfix">

            <p ><span class="fa fa-user"></span><input type="text"  Placeholder="Username" id="username" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Password" id="password" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            

             <div>                               
               <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" onClick="hacerPeticion()" value="Sign In"></span>
             </div>

          </fieldset>
<div class="clearfix"></div>
        </form>

        <div class="clearfix"></div>

      </div> <!-- end login -->
      <div class="logo">
      <img src="https://images.vexels.com/media/users/3/144118/isolated/lists/31093a4558d1aa47a6fcec2a174f2754-signo-de-cerveza-de-neon.png">
          
          <div class="clearfix"></div>
      </div>
      
      </div>
</center>
    </div>



<script>


function login() {

      hacerPeticion();
 
  }
  
  var usuarios = new Array ( '{ "nombre":"Agricultor","mail":"agricultor@email.com", "tipoActor":"Agricultor" }',
				'{ "nombre":"Cooperativa","mail":"cooperativa@email.com", "tipoActor":"Cooperativa" }',
				'{ "nombre":"Transportista","mail":"transportista@email.com", "tipoActor":"Transportista" }',
				'{ "nombre":"Fábrica","mail":"fabrica@email.com", "tipoActor":"Fábrica" }',
				'{ "nombre":"Retailer","mail":"retailer@email.com", "tipoActor":"Retailer" }' )
  
  

function hacerPeticion(){

      var request = $.ajax({
      // la URL para la petición
      url : '/loginUser',
 
      // la información a enviar
      // (también es posible utilizar una cadena de datos)
      data : "usuario=" + $("#username").val() + "&pwd=" + $("#password").val(),
 
      // especifica si será una petición POST o GET
      type : 'POST',
 
      // el tipo de información que se espera de respuesta
      dataType : 'json',
 
      });
 
     request.done(function(data){
	 
      
      //Este metodo redirige a la URL
      window.location.replace(data.redirect);
    
     });
 
     request.fail(function(data) {
	 
	 for (var i = 0; i < usuarios.length; i++) {
	  var actor = JSON.parse( usuarios[i] );
	  console.log("Actor: " + actor);
	  if (document.getElementById("username").value == actor.nombre && document.getElementById("password").value == "password" ) { 
		  vistaPrincipal(actor.tipoActor)
		  break;
	  }
	  else {
	      window.location.replace("LoginError.html");
	  }
      }
	  
	  
	  
	  
	 
     });
 
 }
 
 
 function vistaPrincipal(tipoActor) {
      
      switch (tipoActor) {
      case "Agricultor" :
	  window.location.replace("agricultoresInicio.html");
	  break;
      case "Cooperativa":
	  window.location.replace("cooperativaInicio.html");
	  break;
    /*  case "Transportista":
	  window.location.replace("Transportista.html");
	  break;*/
      case "Fábrica":
	  window.location.replace("numLote.html");
	  break;
      case "Retailer":
	  window.location.replace("tiendaInicio.html");
	  break;
      default:
	  window.location.replace("LoginError.html");
      }
  }
  
  
 
 
 
 </script>

</div>
</body>
</html>
